.slide {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

.header {
  margin: 0;
  font-size: 34px;
  max-width: 800px;
  padding: 0 0 12px;
  font-family: TrajanPro3, Arial, sans-serif;
  font-weight: 600;
  line-height: 52px;
}

.text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  max-width: 800px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
}

@media screen and (max-width: 1250px) {
  .slide {
    max-width: 315px;
    align-items: center;
    max-height: 250px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 rgba(33, 52, 86, 0.77);
  }

  .slide::-webkit-scrollbar {
    width: 8px;
  }

  .slide::-webkit-scrollbar-track {
    background: rgba(33, 52, 86, 0.77);
  }

  .slide::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  .slide::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .header {
    max-width: 283px;
    font-size: 24px;
    line-height: 36px;
  }

  .text {
    max-width: 283px;
    font-size: 16px;
    line-height: 22px;
  }
}
