.discord {
  min-width: 1410px;
  padding: 99px 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ornamentBox {
  position: relative;
  z-index: 1;
  max-width: 810px;
  min-width: 810px;
  max-height: 462px;
  min-height: 462px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ornament {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  height: 462px;
}

@media screen and (max-width: 1520px) {
  .discord {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .widget {
    min-width: 810px;
    max-width: 810px;
    min-height: 462px;
    max-height: 462px;
  }
}

@media screen and (max-width: 950px) {
  .ornamentBox {
    max-width: 810px;
    min-width: 810px;
    max-height: 462px;
    min-height: 462px;
  }
}

@media screen and (max-width: 949px) {
  .discord {
    max-width: 343px;
    min-width: 343px;
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .ornamentBox {
    max-width: 343px;
    min-width: 343px;
    max-height: 393px;
    min-height: 393px;
  }

  .ornament {
    height: 393px;
  }
}
