.image {
  width: 862px;
  height: 411px;
  background-image: url('../../shared/assets/images/backgrounds/l-coin.png');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1450px) {
  .image {
    width: 315px;
    height: 243px;
  }
}
