# Editor folders
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.log

# Dependency folders
/node_modules/

# Vite build output
/dist/

# Testing
/coverage/

# System files
.DS_Store
Thumbs.db

# Env files
.env
.env.*.local

# ESLint cache
.eslintcache

# TypeScript cache
*.tsbuildinfo

# Prettier ignore file (если вдруг решил)
.prettierignore
