.swiper {
    position: relative;
    z-index: 9;
}


.BtnImage {
    max-height: 62px;
    object-fit: cover;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 669px;
    margin: 0 auto;
    padding: 162.5px 0 0;
    position: relative;
}

.btnNext {
    position: absolute;
    top: 15%;
    z-index: 11;
    right: 0;
    cursor: pointer;
}

.btnPrev {
    position: absolute;
    top: 15%;
    z-index: 11;
    left: 0;
    cursor: pointer;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}
