.image {
  width: 862px;
  height: 411px;
  background-size: cover;
  background-position: bottom;
}

.imageRu {
  background-image: url('../../shared/assets/images/backgrounds/auto-hunting-ru.png');
}

.imageEn {
  background-image: url('../../shared/assets/images/backgrounds/auto-hunting-en.jpg');
}

@media screen and (max-width: 1450px) {
  .image {
    width: 315px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
