.itemTop {
  max-width: 662px;
  max-height: 195px;
  min-width: 662px;
  min-height: 195px;
  background-image: url('../../../../shared/assets/images/backgrounds/news-top.png');
  background-position: center;
  background-size: cover;
  padding: 18px 18px 23px;
}

.itemCenter {
  max-width: 662px;
  max-height: 195px;
  min-width: 662px;
  min-height: 195px;
  background-image: url('../../../../shared/assets/images/backgrounds/news-center.png');
  background-position: top;
  background-size: cover;
  padding: 18px 18px 23px;
}

.itemBottom {
  max-width: 662px;
  max-height: 195px;
  min-width: 662px;
  min-height: 195px;
  background-image: url('../../../../shared/assets/images/backgrounds/news-bottom.png');
  background-position: center;
  background-size: cover;
  padding: 18px 18px 23px;
}

.ornamentBox {
  position: relative;
  z-index: 2;
  max-width: 690px;
  min-width: 690px;
  max-height: 207px;
  min-height: 207px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ornament {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  width: 690px;
  height: 207px;
}

@media screen and (max-width: 1240px) {
  .itemTop {
    max-width: 315px;
    max-height: 254px;
    min-width: 315px;
    min-height: 254px;
    padding-bottom: 21px;
  }

  .itemCenter {
    max-width: 315px;
    max-height: 254px;
    min-width: 315px;
    min-height: 254px;
    padding-bottom: 21px;
  }

  .itemBottom {
    max-width: 315px;
    max-height: 254px;
    min-width: 315px;
    min-height: 254px;
    padding-bottom: 21px;
  }

  .ornament {
    width: 343px;
    height: 264px;
  }

  .ornamentBox {
    max-width: 343px;
    min-width: 343px;
    max-height: 264px;
    min-height: 264px;
  }
}
