.content {
    padding: 23px;
    background: rgba(23, 30, 47, 1);
    border: 1px solid rgba(44, 59, 94, 1);
    display: flex;
    flex-direction: column;
}

.boxLine {
    padding: 24px 0 24px;
}

.line {
    border: 1px solid rgba(44, 59, 94, 1);
}

.tag {
    max-width: 108px;
    min-width: 108px;
    max-height: 36px;
    min-height: 36px;
    align-content: center;
    background: rgba(48, 118, 253, 1);
}

.tagsText {
    margin: 0;
    padding: 0;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.text {
    margin: 0;
    padding: 0;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}

.item {
    display: flex;
    flex-direction: row;
}