.headerBox {
    max-width: 1170px;
    min-width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

.header {
    margin: 0;
    padding: 0;
    font-family: TrajanPro3, Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0.015em;
}

.news {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
}

.newsList {
    padding: 42px 0 0;
    max-width: 1170px;
    min-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 570px);
    justify-items: center;
    gap: 42px 30px;
}

.item {
    max-width: 541px;
    max-height: 195px;
    min-width: 541px;
    min-height: 195px;
    background-image: url("../../images/news-top.png");
    background-position: center;
    background-size: cover;
    padding-bottom: 19px;
}

.headerItem {
    font-size: 24px;
    line-height: 36px;
}

.descriptionItem {
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.sparksTop {
    position: absolute;
    top: 52px;
    left: -186px;
    mix-blend-mode: screen;
}

.sparksBottom {
    position: absolute;
    top: 389px;
    left: -312px;
    mix-blend-mode: screen;
}

.patternBox {
    min-width: 1920px;
    width: 100%;
    height: 1178px;
    background-image: url('../../images/pattern-bottom.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.patternBox::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 326px;
    z-index: 2;
}

.patternBox::after {
    bottom: 0;
    background: linear-gradient(180deg, rgba(18, 24, 38, 0) 0%, rgba(18, 24, 38, 1) 100%);
}

@media screen and (max-width: 1240px) {
    .headerBox {
        max-width: 343px;
        min-width: 343px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 12px;
    }

    .header {
        font-size: 24px;
        line-height: 36px;
    }

    .news {
        padding: 24px 0;
    }

    .newsList {
        padding-top: 16px;
        max-width: 343px;
        min-width: 343px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px
    }

    .item {
        max-width: 315px;
        max-height: 254px;
        min-width: 315px;
        min-height: 254px;
        padding-bottom: 21px;
    }

    .headerItem {
        font-size: 18px;
        line-height: 28px;
        max-width: 295px;
    }

    .descriptionItem {
        font-size: 14px;
        line-height: 20px;
        max-width: 295px;
    }
}