.pagination {
    margin: 0 auto;
    padding: 61.5px 0 0;
    max-width: 661px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    position: relative;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.description {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: OpenSans, Arial, sans-serif;
    font-weight: 400;
    line-height: 26px;
}

.textLeft {
    padding-right: 34px;
}

.textRight {
    text-align: right;
}

.images {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imageLineBalCraft {
    width: 54.5px;
    height: 1px;
    margin: 0 0 0 -3px;
}

.imageLineOlympInter {
    width: 44px;
    height: 1px;
    margin: 0 -3px 0 -3px;
}

.imageLineCraftClans {
    width: 56.5px;
    height: 1px;
    margin: 0 -3px 0 -3px;
}

.imageLineClansOlymp {
    width: 55.5px;
    height: 1px;
    margin: 0 0 0 -9px;
}

.image {
    height: 48px;
    width: 48px;
}

@media screen and (max-width: 1250px) {
    .pagination {
        display: none;
    }
}