.main {
  max-width: 1410px;
  min-width: 343px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
}

@media (max-width: 400px) {
  .main {
    padding: 0 15px;
  }
}
