.modal {
    max-width: 930px;
    max-height: 473px;
    min-width: 90px;
    min-height: 473px;
    background: rgba(23, 30, 47, 1);
    border: 1px solid rgba(44, 59, 94, 1);
    position: relative;
    padding: 30px;
    box-sizing: border-box;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.close-icon {
    background-image: url("../../images/close-icon.svg");
    width: 17.87px;
    height: 17.87px;
}

.header {

}