@font-face {
  font-family: 'OpenSans';
  src: url('./OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'TrajanPro3';
  src: url('./TrajanPro3-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'TrajanPro3';
  src: url('./TrajanPro3-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}
