.item {
    max-width: 1146px;
    min-width: 1146px;
    max-height: 388px;
    min-height: 388px;
    width: 100%;
    background-position: center;
}

.container {
    max-width: 1102px;
}

.ornamentBox {
    position: relative;
    z-index: 1;
    max-width: 690px;
    min-width: 690px;
    max-height: 680px;
    min-height: 680px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ornamentBoxWide {
    position: relative;
    z-index: 1;
    max-width: 1170px;
    min-width: 1170px;
    max-height: 400px;
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ornament {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

@media screen and (max-width: 1240px) {
    .itemBase,
    .item {
        max-width: 313px;
        max-height: 450px;
        min-width: 313px;
        min-height: 450px;
        background-size: cover;
    }

    .containerBase,
    .container {
        max-width: 295px;
        min-width: 295px;
    }

    .ornamentBox,
    .ornamentBoxWide {
        max-width: 343px;
        min-width: 343px;
        max-height: 460px;
        min-height: 460px;
    }
}