.header {
  margin: 0;
  padding: 0;
  font-family: TrajanPro3, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.015em;
}

.text {
  margin: 0;
  padding: 0;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.content {
  padding: 33px;
  max-width: 930px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-sizing: border-box;
  background: rgba(23, 30, 47, 1);
  border: 1px solid rgba(44, 59, 94, 1);
  position: relative;
  z-index: 3;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image {
  width: 862px;
  height: 411px;
  background-image: url('../../shared/assets/images/backgrounds/male-fighter.png');
  background-size: cover;
  background-position: 50% 10%;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.img {
  width: 26px;
  height: 26px;
  object-fit: cover;
}
