.swiper {
  position: relative;
  z-index: 9;
}

.btnImage {
  max-height: 62px;
  height: auto;
  width: 56px;
  object-fit: cover;
  position: relative;
  z-index: 1;
  opacity: 1;
  filter: none;
  transition:
    opacity 0.5s ease,
    filter 0.1s ease;
}

.disabled {
  opacity: 0.4;
  cursor: default;
  filter: grayscale(100%);
  transition:
    opacity 0.5s ease,
    filter 0.1s ease;
}

.wrapper {
  margin: 0 auto;
  padding: 162.5px 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btnNext {
  position: absolute;
  top: 15%;
  z-index: 11;
  right: 0;
  cursor: pointer;
}

.btnPrev {
  position: absolute;
  top: 15%;
  z-index: 11;
  left: 0;
  cursor: pointer;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  user-select: none;
}

@media screen and (max-width: 1250px) {
  .btnImage {
    max-height: 30px;
  }

  .btnNext {
    top: 110%;
    right: 33%;
  }

  .btnPrev {
    top: 110%;
    left: 33%;
  }
}
