.titleSection {
  max-height: 932px;
  min-width: 1920px;
  min-height: 830px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 830px;
  min-width: 1920px;
  min-height: 830px;
  width: 100%;
  background: url('../../shared/assets/images/backgrounds/main-background.webp')
    no-repeat center center / cover;
  z-index: 1;
}

.shadow {
  position: absolute;
  top: 290px;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(18, 24, 38, 1) 5.81%,
    rgba(18, 24, 38, 0) 100%
  );
  z-index: 4;
  min-width: 1920px;
  max-height: 541px;
  min-height: 541px;
  width: 100vw;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 1761px;
  height: 100%;
  z-index: 2;
}

.ellipseConcave {
  width: 748px;
  height: 567px;
  position: absolute;
  top: 116.5px;
  left: 477px;
  z-index: 2;
}

.ellipseConvex {
  position: absolute;
  top: 158.5px;
  left: 604px;
  z-index: 2;
  width: 478px;
  height: 329px;
}

.flare {
  position: absolute;
  width: 1760.04px;
  height: 1210.56px;
  top: -203.5px;
  left: -20px;
  transform: rotate(0deg);
  z-index: 3;
}

.logo {
  max-width: 727px;
  max-height: 725px;
  position: absolute;
  top: 103px;
  left: 517px;
  z-index: 2;
  width: 100%;
  height: auto;
}

.imageElfWoman {
  position: absolute;
  top: 0.5px;
  left: 600px;
  z-index: 3;
  width: 100%;
  height: auto;
  max-width: 858px;
}

.imageWarHuman {
  position: absolute;
  top: 138px;
  left: 319px;
  z-index: 2;
  width: 100%;
  height: auto;
  max-width: 692px;
}

.circles {
  position: absolute;
  top: 215px;
  left: 702px;
  z-index: 2;
  width: 237px;
  height: 110px;
}

.sparksLeft {
  position: absolute;
  top: -7px;
  left: 47px;
  z-index: 3;
  mix-blend-mode: screen;
  width: 402px;
  height: 418px;
}

.sparksRight {
  position: absolute;
  top: 218px;
  right: 129px;
  z-index: 3;
  mix-blend-mode: screen;
  width: 527px;
  height: 604px;
}

.textBox {
  padding: 455px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 6;
  pointer-events: none;
}

.header {
  margin: 0;
  padding: 0;
  max-width: 695px;
  font-family: TrajanPro3, Arial, sans-serif;
  font-size: 74px;
  font-weight: 700;
  line-height: 114px;
  letter-spacing: 0.68em;
  text-shadow: 0 4px rgba(0, 0, 0, 0.75);
}

.subheader {
  margin: -15px 0 0;
  padding: 0;
  max-width: 643px;
  font-family: TrajanPro3, Arial, Helvetica, sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0.015em;
}

.description {
  margin: 0;
  padding: 12px 0 0;
  max-width: 695px;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.buttons {
  padding: 16px 0 0;
  max-width: 432px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: auto;
}

.buttonBlue {
  font-size: 18px;
  padding: 16px 24px;
  background: linear-gradient(
    to bottom right,
    rgba(17, 30, 64, 1),
    rgba(36, 97, 214, 1)
  );
  overflow: hidden;
  box-shadow:
    inset 0 -2px 6px rgba(68, 143, 255, 0.6),
    inset 0 2px 0 rgba(66, 130, 255, 0.8);
}

.buttonBlue:hover {
  transform: scale(1.05);
  box-shadow:
    0 0 15px rgba(68, 143, 255, 0.6),
    inset 0 -2px 6px rgba(68, 143, 255, 0.5),
    inset 0 2px 0 rgba(66, 130, 255, 0.6);
}

.buttonBlue:hover::after {
  opacity: 0.5;
}

.buttonYellow {
  font-size: 18px;
  padding: 16px 24px;
  background: linear-gradient(
    to bottom right,
    rgba(64, 57, 17, 1),
    rgba(214, 175, 36, 1)
  );
  overflow: hidden;
  box-shadow:
    inset 0 -2px 6px rgba(255, 214, 68, 0.6),
    inset 0 2px 0 rgba(255, 214, 68, 0.8);
}

.buttonYellow:hover {
  transform: scale(1.05);
  box-shadow:
    0 0 15px rgba(255, 214, 68, 0.6),
    inset 0 -2px 6px rgba(255, 214, 68, 0.5),
    inset 0 2px 0 rgba(255, 214, 68, 0.6);
}

.buttonYellow:hover::after {
  opacity: 0.5;
}

@media screen and (max-width: 700px) {
  .textBox {
    padding: 300px 0 0;
  }

  .header {
    max-width: 343px;
    font-size: 38px;
    line-height: 64px;
    letter-spacing: 0.62em;
  }

  .subheader {
    margin: 0;
    max-width: 343px;
    font-size: 24px;
    line-height: 36px;
  }

  .description {
    max-width: 343px;
    font-size: 16px;
    line-height: 22px;
  }

  .buttons {
    max-width: 343px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .buttonBlue {
    padding: 16px 0;
    min-width: 343px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

  .buttonYellow {
    padding: 16px 0;
    min-width: 343px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .imageWarHuman {
    top: 108px;
    left: 400px;
  }

  .flare {
    left: 50px;
  }
}

@media screen and (max-width: 376px) {
  .titleSection {
    max-width: 376px;
    max-height: 693px;
    min-width: 376px;
    min-height: 693px;
  }

  .background {
    left: -1004px;
  }

  .shadow {
    top: 200px;
    max-width: 376px;
    min-width: 376px;
    max-height: 491px;
    min-height: 491px;
    background: linear-gradient(
      0deg,
      rgba(18, 24, 38, 1) 20%,
      rgba(18, 24, 38, 0) 100%
    );
  }

  .imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .ellipseConcave {
    width: 583px;
    height: 443px;
    top: 589px;
    left: 487px;
  }

  .ellipseConvex {
    width: 373px;
    height: 256px;
    top: 162px;
    left: 3px;
  }

  .flare {
    width: 1114.65px;
    height: 766.66px;
    top: -70px;
    left: -360px;
  }

  .logo {
    display: none;
  }

  .imageElfWoman {
    top: 44px;
    left: 6px;
    width: 669px;
    object-fit: cover;
  }

  .imageWarHuman {
    top: 138px;
    left: -219px;
    width: 540px;
    object-fit: cover;
  }

  .circles {
    top: 212px;
    left: 80px;
    max-width: 184px;
    object-fit: cover;
  }

  .sparksLeft {
    display: none;
  }

  .sparksRight {
    display: none;
  }
}
