.container {
    gap: 8px;
}

.ornamentBox {
    position: relative;
    z-index: 2;
    max-width: 690px;
    min-width: 690px;
    max-height: 207px;
    min-height: 207px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ornamentBoxSmall {
    position: relative;
    z-index: 2;
    max-width: 570px;
    min-width: 570px;
    max-height: 207px;
    min-height: 207px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ornament {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.ornamentBoxMobile {
    position: relative;
    z-index: 2;
    max-width: 343px;
    min-width: 343px;
    max-height: 264px;
    min-height: 264px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}